Source: telepathy-glib
Section: libs
Priority: optional
Maintainer: Debian Telepathy maintainers <pkg-telepathy-maintainers@lists.alioth.debian.org>
Uploaders: Dafydd Harries <daf@debian.org>, Simon McVittie <smcv@debian.org>, Sjoerd Simons <sjoerd@debian.org>, Laurent Bigonville <bigon@debian.org>
Build-Depends: cdbs, debhelper (>= 5), libglib2.0-dev (>= 2.10), libdbus-glib-1-dev (>= 0.73), libdbus-1-dev (>= 0.95), xsltproc, python, gtk-doc-tools, pkg-config (>= 0.21)
Standards-Version: 3.7.3
Vcs-Bzr: http://bzr.debian.org/pkg-telepathy/packages/unstable/telepathy-glib/
Homepage: http://telepathy.freedesktop.org/wiki/
XS-Dm-Upload-Allowed: yes

Package: libtelepathy-glib0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Telepathy framework - GLib library
 This package contains telepathy-glib, a GLib-based library for Telepathy
 components.
 .
 Telepathy is a D-Bus framework for unifying real time communication,
 including instant messaging, voice calls and video calls. It abstracts
 differences between protocols to provide a unified interface for
 applications.

Package: libtelepathy-glib-dev
Architecture: any
Section: libdevel
Depends: libtelepathy-glib0 (= ${binary:Version}), libglib2.0-dev (>= 2.10), libdbus-1-dev (>= 0.95), libdbus-glib-1-dev (>= 0.73), pkg-config (>= 0.21)
Suggests: libtelepathy-glib-doc
Conflicts: libtelepathy-glib-static-dev
Replaces: libtelepathy-glib-static-dev
Description: GLib Telepathy connection manager library (headers)
 This package contains development files for telepathy-glib, a GLib-based
 library for Telepathy components.
 .
 Telepathy is a D-Bus framework for unifying real time communication,
 including instant messaging, voice calls and video calls. It abstracts
 differences between protocols to provide a unified interface for
 applications.

Package: libtelepathy-glib0-dbg
Architecture: any
Section: libdevel
Priority: extra
Depends: libtelepathy-glib0 (= ${binary:Version})
Description: GLib Telepathy library (debug symbols)
 This package contains support for debugging programs that use telepathy-glib,
 a GLib-based library for Telepathy components.
 .
 Telepathy is a D-Bus framework for unifying real time communication,
 including instant messaging, voice calls and video calls. It abstracts
 differences between protocols to provide a unified interface for
 applications.

Package: libtelepathy-glib-doc
Architecture: all
Section: doc
Suggests: devhelp
Description: GLib Telepathy library (documentation)
 This package contains HTML documentation for telepathy-glib, a GLib-based
 library for Telepathy components.
 .
 Telepathy is a D-Bus framework for unifying real time communication,
 including instant messaging, voice calls and video calls. It abstracts
 differences between protocols to provide a unified interface for
 applications.
